<a href="https://colab.research.google.com/github/carvalheirafc/deep_learning_stuff/blob/master/diabetes/statistical_analysisdiabetes_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [45]:
#Reading and inspecting all features of the dataframe
diabetes = pd.read_excel('diabetes_Ex1.xlsx')
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776 entries, 0 to 775
Data columns (total 18 columns):
A              768 non-null float64
B              768 non-null float64
C              774 non-null object
D              768 non-null float64
E              768 non-null float64
F              768 non-null float64
G              768 non-null float64
H              768 non-null float64
I              768 non-null float64
J              768 non-null float64
K              768 non-null float64
L              768 non-null float64
M              768 non-null float64
N              768 non-null float64
O              768 non-null float64
P              768 non-null float64
Unnamed: 16    0 non-null float64
Diagnóstico    768 non-null float64
dtypes: float64(17), object(1)
memory usage: 109.2+ KB

In [0]:
# Since feature 'Unnamed: 16' has none value, we gonna delete this.
diabetes = diabetes.drop(['Unnamed: 16'], axis=1)

In [51]:
# Removed the five lasts rows in feature 'C', because has mislanding information.
# Removed all NaN
diabetes['C'] = diabetes['C'][:-6]
diabetes.dropna()
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 776 entries, 0 to 775
Data columns (total 17 columns):
A              768 non-null float64
B              768 non-null float64
C              768 non-null object
D              768 non-null float64
E              768 non-null float64
F              768 non-null float64
G              768 non-null float64
H              768 non-null float64
I              768 non-null float64
J              768 non-null float64
K              768 non-null float64
L              768 non-null float64
M              768 non-null float64
N              768 non-null float64
O              768 non-null float64
P              768 non-null float64
Diagnóstico    768 non-null float64
dtypes: float64(16), object(1)
memory usage: 103.1+ KB

In [58]:
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(diabetes)
diabetes_normalized = pd.DataFrame(x_scaled)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [57]:
diabetes.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Diagnóstico
0,6.0,85.000000,148,72.0,35.0,0.0,33.6,33.6,30.0,0.6,7.2,7.2,50.0,45.765525,6.0,24858.0,2.0
1,1.0,60.000000,85,66.0,29.0,0.0,26.6,27.0,27.0,0.4,1.8,1.8,31.0,36.219544,78.0,27650.0,1.0
2,8.0,82.333333,183,64.0,0.0,0.0,23.3,23.3,15.0,0.7,9.4,9.4,32.0,36.827749,96.0,26692.0,2.0
3,1.0,59.333333,89,66.0,23.0,94.0,28.1,87.0,87.0,0.2,1.4,1.4,21.0,96.433981,48.0,24912.0,1.0
4,0.0,70.666667,137,40.0,35.0,168.0,43.1,94.0,94.0,2.3,4.6,4.6,33.0,105.704700,11.0,24925.0,2.0

In [59]:
diabetes_normalized.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.352941,0.627517,0.743719,0.590164,0.353535,0.000000,0.500745,0.279545,0.271739,0.217391,0.380435,0.380435,0.483333,0.287157,0.010870,0.201098,1.0
1,0.058824,0.375839,0.427136,0.540984,0.292929,0.000000,0.396423,0.204545,0.239130,0.130435,0.086957,0.086957,0.166667,0.182084,0.793478,0.615465,0.0
2,0.470588,0.600671,0.919598,0.524590,0.000000,0.000000,0.347243,0.162500,0.108696,0.260870,0.500000,0.500000,0.183333,0.188779,0.989130,0.473286,1.0
3,0.058824,0.369128,0.447236,0.540984,0.232323,0.111111,0.418778,0.886364,0.891304,0.043478,0.065217,0.065217,0.000000,0.844869,0.467391,0.209112,0.0
4,0.000000,0.483221,0.688442,0.327869,0.353535,0.198582,0.642325,0.965909,0.967391,0.956522,0.239130,0.239130,0.200000,0.946912,0.065217,0.211042,1.0